@inject Context context;
@inject CustomerCartService cartService;


<div class="btn-group">
    <button type="button" class="btn dropdown-toggle cartMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas dropdown-cart-icon fa-shopping-cart"></i> <span class="badge badge-warning">@cartService.GetCartCount()</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">

        <div class="cartDropDown">
            <a href="/checkout" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go to checkout!</a>

            @if (cartService.GetCartCount() != 0)
            {

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Book</th>
                            <th scope="col">Quanity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{

                            int count = 1;

                            foreach (var sum in cartService.GetCheckoutSum())
                            {

                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@sum.Book.Title</td>
                                    <td>@sum.Quantity</td>
                                    <td>@(sum.Quantity * sum.Book.Price)</td>

                                </tr>

                                count++;
                            }

                        }

                    </tbody>
                </table>

            }
            else
            {<div class="dropdown-menu">

                    @if (cartService.GetCartCount() != 0)
                    {

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Book</th>
                                    <th scope="col">Quanity</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{

                                    int count = 1;

                                    foreach (var sum in cartService.GetCheckoutSum())
                                    {

                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@sum.Book.Title</td>
                                            <td>@sum.Quantity</td>
                                            <td>@(sum.Quantity * sum.Book.Price)</td>

                                        </tr>

                                        count++;
                                    }

                                }

                            </tbody>
                        </table>



                    }
                    else
                    {

                        <div class="card">
                            <div class="card-body">
                                You have no products in your cart. Go buy something!
                            </div>
                        </div>

                    }



                </div>

                <div class="card">
                    <div class="card-body">
                        You have no products in your cart. Go buy something!
                    </div>
                </div>

            }


        </div>




    </div>
</div>







       
  